/* General button style */
button {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 3px;
    border: none;
    min-width: 100px;
    max-width: max-content;
    transition: 0.3s;
}

/* Blue button palette */
.blue-btn {
    background-color: #5865F2;
}

.blue-btn:hover {
    background-color: #4752C4;
}

.blue-btn:active, .blue-btn:disabled {
    background-color: #3C45A5;
}

/* Red button palette */
.red-btn {
    background-color: #D83C3E;
}

.red-btn:hover {
    background-color: #A12D2F;
}

.red-btn:active, .red-btn:disabled {
    background-color: #8C2729;
}

/* Green button palette */
.green-btn {
    background-color: #2D7D46;
}

.green-btn:hover {
    background-color: #215B32;
}

.green-btn:active, .green-btn:disabled {
    background-color: #1E532E;
}

/* Grey button palette */
.grey-btn {
    background-color: #4F545C;
}

.grey-btn:hover {
    background-color: #686D73;
}

.grey-btn:active {
    background-color: #72767D;
}

.grey-btn:disabled {
    background-color: #72767D;
}

/* Slyders */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 25px;
}

.switch > .slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4F545C;
    transition: .4s;
}

.switch > .slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2D7D46;
}

input:checked + .slider:before {
    transform: translateX(17px);
}

input:disabled + .slider {
    background-color: #202225;
}

input:checked:disabled + .slider {
    background-color: #1E532E;
}

input:disabled + .slider:before {
    background-color: #72767D;
}